.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input {
  background-color: #978d8d;
  max-width: 80%;
  width: 300px;
  height: 20px;
  text-align: center;
  border: 0 0 2px 2px solid;
  border-color: rgb(94, 255, 45);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin:5px;
  transition: transform 0.3s ease;
}

input:hover {
  transform: scale(1.05);
  transform-origin: center;
}

input::placeholder {
  color: white; /* Puedes cambiar 'red' al color que desees */
  font-size: .7rem;
}

input:focus {
  /* outline-color: aqua; */
  box-shadow: 1px 1px 1px rgb(0, 255, 255);
  transition: 0.3s ease;
  /* transition: .1s; */
  transition-property: box-shadow;
}

label {
  text-align: right;
  color: rgb(94, 255, 45);
  font-weight: bold;
}

button {
  background-color: #212121;
  height: 30px;
  text-align: center;
  border: 0 0 2px 2px solid;
  border-color: rgb(94, 255, 45);
  margin: 10px;
  border-radius: 5px;
  color: rgb(94, 255, 45);
  font-weight: bold;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  transform-origin: center;

}

button:focus {
  /* background-color: #212121; */
  /* outline-color: aqua; */
  box-shadow: 1px 1px 1px rgb(0, 255, 255);
  transition: 0.3s ease;
  /* transition: .1s; */
  transition-property: box-shadow;
}
.header {
  margin:0px; 
  width: 100%; 
  min-width: 150px;
  background: rgba(63, 23, 23, 0.753);
  color: #31572c;
  border-radius: 8px;
  border:10px solid red;
  /* box-shadow: 2px 2px 0px -5px #31572c; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}