.SelectFilter {
    padding: inherit;
}
.unselected{
    background-color:#524e4eb6;
    font-size: .7 rem;
    color:rgb(224, 217, 217);
    margin:8px;
}
.selected{
    background-color:green;
    color:rgb(224, 217, 217);
    font-size: .9 rem;
    font-style: normal;
    margin:8px;
}
.text{
    font-size:large;
}