.spinnerContainer {
  position: relative;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.spinnerRing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  text-shadow: 1px 2px 10px #fff000;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient(0deg, #333, #000); */
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.spinnerRing:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  height: 100%;
  width: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}

.spinnerSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinnerSpan:before {
  display: inline-block;
  font-size: 14px;
  margin-top: -7px;
  color: #fff000;
  animation: animateText 2s linear infinite;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}