.Filters {
  background: rgba(0, 0, 0, 0.753);
  color: #31572c;
  border-radius: 5px;
  height: 80px;
  width: 100%;
  min-width: 300px;

  /* box-shadow: 20px 20px 0px -5px #31572c; */
}
.title{
  margin: 0px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  color: yellow;
}