.Cards {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text{
    font-size:large;
}

.container {
    /* margin: 5px; */
    width: 100%;
    min-width: 150px;
    background: rgba(63, 23, 23, 0.753);
    color: #31572c;
    border-radius: 8px;
    border: 1px solid red;
    /* box-shadow: 2px 2px 0px -5px #31572c; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }