.Cards {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text{
    font-size:large;
}